<h1>Quotes App</h1>

<p>Manage quotes with this app</p>

<ul>
    {{#each quotes}}
        <li>
            <p> <span class="label">  ID: </span>{{this.id}} </p>
            <p> <span class="label">  Quote: </span>{{this.quote}} </p>
            <p> <span class="label">  Author: </span>{{this.author}} </p>
            <button class="delquote" data-id="{{this.id}}">Delete</button>
            <a href="/{{this.id}}">Update this quote</a>
        </li>
    {{/each}}
</ul>

<h2>Add a Quote</h2>

<form class="create-form">
    <div class="form-group">
        <label for="auth"> Author: </label>
        <input type="text" id="auth" name="author">
    </div>

    <div class="form-group">
        <label for="quo"> Quote: </label>
        <textarea name="quote" id="quo" cols="40" rows="8"></textarea>
    </div>

    <button type="submit">Add Quote</button>
</form>


